.foundation{
    display: grid;
    width: 800px;
    height: 800px;
    margin: 1px;
    padding: 1px;
    grid-template-columns: repeat(var(--columns), 1fr);

}


.cell{
    background-color: white;
    transition:0s 180s
}

.cell:hover{
    background-color: var(--color);
    
    transition:0s;
}